@font-face {
	font-family: "Clear Sans";
	src: url(clear-sans.regular.ttf);
}
@font-face {
	font-family: "Clear Sans";
	src: url(clear-sans.bold.ttf);
	font-weight: bold;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	color: #776e65;
	background-color: #faf8ee;
	min-width: 500px;
	font-family: "Clear Sans";
}
p {
	font-size: 1.125em;
}
a, a:hover {
	color: #776e65;
}
#container {
	width: 500px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
h1 {
	font-size: 5em;
	padding-top: 80px;
	display: inline-block;
}
#bestscore {
	padding-top: 88px;
	float: right;
	display: inline-block;
	max-width: 310px;
	margin-right: -1px;
}
#bestscore div{
	display: inline-block;
	background-color: #bbada0;
	border-radius: 4px;
}
#bestscore div p {
	color: white;
	text-align: center;
}
#bestscore div p:first-child {
	font-family: sans-serif;
	font-size: 0.73em;
	padding-top: 10px;
}
#bestscore div p:nth-child(2) {
	font-weight: bold;
	font-size: 1.57em;
	padding: 0px 25px;
	margin-top: -2px;
}
#titlenewgame *{
	display: inline-block;
}
#titlenewgame p{
	padding-top: 12px;
}
button {
	color: white;
	background-color: #8f7a66;
	border: none;
	padding: 8px 20px;
	font-weight: bold;
	font-size: 1.125em;
	border-radius: 4px;
	font-family: "Clear Sans";
	outline: none;
}
button:hover {
	cursor: pointer;
}
#titlenewgame button {
	margin-top: 4px;
	float: right;
}
#htpnote {
	margin-top: 49px;
}
#htpnote p {
	line-height: 1.7;
}
hr {
	margin: 22px 0px 27px;
	opacity: 0.3;
}
footer {
	margin-bottom: 100px;
}
#game {
	margin-top: 50px;
	position: relative;
	width: 500px;
	height: 500px;
}
[id*="ground"] {
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 6px;
}
#background {
	background-color: #bbada0;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	grid-gap: 15px;
	padding: 15px;
}
.backtiles {
	border-radius: 4px;
	background-color: #ccbfb4;
}
.foretiles {
	border-radius: 4px;
	position: absolute;
	height: 107px;
	width: 107px;
	margin: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	padding-bottom: 3px;
	transition: top 0.1s, left 0.1s;
	color: white;
}
.foretilesbirth {
	animation: birth 0.3s forwards;
}
.foretilesmerge {
	animation: fuse 0.175s forwards;
}
@keyframes birth {
	from{transform: scale(0);opacity: 0;}
	to{transform: scale(1);opacity: 1;}
}
@keyframes fuse {
	0%{transform: scale(1);}
	50%{transform: scale(1.2);}
	100%{transform: scale(1);}
}
.num2 {
	background-color: #ede3d9;
	font-size: 3.45em;
	color: #776e65;
}
.num4 {
	background-color: #ecdfc7;
	font-size: 3.45em;
	color: #776e65;
}
.num8 {
	background-color: #f2b179;
	font-size: 3.45em;
}
.num16 {
	background-color: #f59563;
	font-size: 3.45em;
}
.num32 {
	background-color: #f67c5f;
	font-size: 3.45em;
}
.num64 {
	background-color: #f65e3b;
	font-size: 3.45em;
}
.num128 {
	background-color: #edcf72;
	font-size: 2.85em;
}
.num256 {
	background-color: #edcc61;
	font-size: 2.85em;
}
.num512 {
	background-color: #edc850;
	font-size: 2.85em;
}
.num1024 {
	background-color: #edc53f;
	font-size: 2.25em;
}
.num2048 {
	background-color: #edc22e;
	font-size: 2.25em;
}
.numgt2048 {
	background-color: #3c3a32;
	font-size: 2.25em;
}
#scoreanime {
	position: absolute;
	top: 108px;
	left: 367px;
	font-family: "Clear Sans";
	font-size: 1.6em;
	font-weight: bold;
	opacity: 0;
}
.scoringani {
	animation: scoring 0.6s backwards cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
@keyframes scoring {
	0%{
		opacity: 1;
		top: 108px;
	}
	100%{
		opacity: 0;
		top: 30px;
	}
}
#overground {
	background-color: rgba(250,248,238,0);
	opacity: 0;
	text-align: center;
}
#overground h1 {
	display: block;
	margin: 50px 0px 20px;
	font-size: 3.75em;
}
.gamefinfadein {
	animation: overgroundfadein 1s forwards;
}
@keyframes overgroundfadein {
	from{background-color: rgba(250,248,238,0);opacity: 0;}
	to{background-color: rgba(250,248,238,0.75);opacity: 1;}
}
