* {
  box-sizing: border-box;
}
@font-face {
  font-family: "San-Francisco";
  src: url("./fonts/System\ San\ Francisco\ Display\ Ultralight.ttf");
}
body {
  min-width: 500px;
  font-size: 3em;
  font-family: "San-Francisco";
}
.App {
  margin: auto;
  width: 500px;
}
.calculator {
  display: grid;
  grid-template-columns: 125px 125px 125px 125px;
  grid-template-rows: 125px 125px 125px 125px 125px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-family: "San-Francisco";
  background-color: #d5d6d8;
  border: 1px solid #20202045;
}
.AC,
.plus-minus,
.percent {
  font-size: 0.8em;
  background-color: #cacbcd;
}
[class^="oper"],
.equals {
  background-color: #f99013;
  color: white;
}
.oper3 {
  grid-area: 1 / 4;
}
.oper2 {
  grid-area: 2 / 4;
}
.oper1 {
  grid-area: 3 / 4;
}
.oper0 {
  grid-area: 4 / 4;
}
.number7 {
  grid-area: 2 / 1;
}
.number8 {
  grid-area: 2 / 2;
}
.number9 {
  grid-area: 2 / 3;
}
.number4 {
  grid-area: 3 / 1;
}
.number5 {
  grid-area: 3 / 2;
}
.number6 {
  grid-area: 3 / 3;
}
.number1 {
  grid-area: 4 / 1;
}
.number2 {
  grid-area: 4 / 2;
}
.number3 {
  grid-area: 4 / 3;
}
.number0 {
  grid-area: 5 / 1 / span 1 / span 2;
}
.zero {
  margin-left: -125px;
}
.display {
  color: white;
  background-color: #202020;
  height: 225px;
  display: grid;
  align-content: end;
}
.displayNumber {
  width: 500px;
  text-align: right;
  padding-right: 27px;
}
button:focus {
  outline: none;
  animation: flash 0.5s forwards;
}
@keyframes flash {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(90%);
  }
  100% {
    filter: brightness(100%);
  }
}
.currentOper {
  border: 2px solid black;
}
